#start{
  margin: 0.5rem;
}

/*#start .btn{
	height: 100%;*/
	/*color: #4dccde;*/
/*}*/

#start #lets-compare .btn-outline-primary{
	font-size: 1.5rem;
	background-color: white;
}

#start #lets-compare .btn-outline-primary:hover, 
#start #lets-compare .btn-outline-primary:active, 
#start #lets-compare .btn-outline-primary:focus {
    background-color: #4dccde !important;
}


/*#start .selected.btn-outline-primary{
    background-color: #4dccde;
}
*/

#insurance-for, #i-live-in, #cover-for, #lets-compare{
	transition: 0.6s;
}

.hidden{
	opacity: 0;
}